body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flaxiable-container  {
    display: flex;
    margin-bottom: 120px;
}
.half-width{
   width: 50%;
   padding: 5%;
 
}
.half-width img{
    width: 80%;
    height: 400px;
}

.link-button{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 400;
    border-radius: 5px;
     
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0;
}.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin: 0;
}
.experience-unit{
    width: 40%;
    border-left: 5%;
    border-right: 5%;
    padding: 5px;
    box-shadow: 10px 10px 40px green;
    border-radius: 10px;
}
.experiences-area{
    background-image:url(images/exp-bg.png);
    background-repeat: no-repeat ;
    background-position: left;
}
#full-web{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(217, 217, 230), rgb(38, 0, 255));
    border-image-slice: 1;
}
footer{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}